[submodule "ref/kimi-cli"]
	path = ref/kimi-cli
	url = https://github.com/MoonshotAI/kimi-cli.git
[submodule "ref/codex"]
	path = ref/codex
	url = https://github.com/openai/codex.git
[submodule "ref/openclawd"]
	path = ref/openclawd
	url = https://github.com/steipete/clawdis
